body {
  background-color: #ffffff;
}

i {
  cursor: pointer;
}

.container-router {
  padding: 1rem;

  .process-manager {

    .process-manager-actions {
      span[role=img] {
        margin: 0 3px;
      }
    }
  }
}

.hover-pointer {
  cursor: pointer;

    &:hover {
      transition: all .2s;
    }
}
