body {
  background-color: #ffffff;
}

i {
  cursor: pointer;
}

.container-router {
  padding: 0;

  .toobar-header {
    .toolbar-actions {
      span[role=img] {
        margin: 0 3px;
      }
    }
  }

  .process-table-container {
    width: 100%;
  }
}

.hover-pointer {
  cursor: pointer;

    &:hover {
      transition: all .2s;
    }
}
